--- --- // Import the default github pages theme
@import "{{ site.theme }}";

// Task List style edits
// Remove default marker and adjust margin
.task-list-item {
  list-style-type: none;
}

.task-list-item-checkbox {
  vertical-align: middle;
  margin: 0 .2em .25em -1.4em;
}